body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #f5f5f5;
  overflow: auto;
  padding: 20px;
}

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;


}

.cerc {
  width: 6rem;
  height: 6rem;
  background-color: burlywood;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  text-align: center;

}

.cerc input {
  max-width: 5rem;
}

.children {
  display: flex; 
  justify-content: center;
  background-color: #e8f5e9;
  padding: 10px;
  margin-top: 10px;
  border: 3px solid burlywood;
  border-radius: 5px;
  gap: 20px; 
}

.status-active {
  color: green;
}

.status-inactive {
  color: red;
}

.status-paused {
  color: orange;
}





